---
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Mixim – the fastest way in the world to make music remotely</title>

	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	
	<script src="js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>	
	<script type="text/javascript" src="js/inViewport.js"></script>
	<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="js/packery-mode.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.js"></script>
	<script type="text/javascript" src="js/jquery.cycle2.min.js"></script>
	<script type="text/javascript" src="js/jquery.cycle2.swipe.min.js"></script>
	<script type="text/javascript" src="js/jquery.fittext.js"></script>
	<script type="text/javascript" src="js/jquery-sectionsnap.js"></script>
	<script type="text/javascript" src="js/jQueryRotate.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

	<link href="images/favicon.png" rel="icon" type="image/png" />
	<link href="style.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=390, user-scalable=no">

	<!--START SEO-->
	<link rel="canonical" href="https://getmixim.com" />
	<meta name="description" content="Mixim is a software tool for remote musical collaboration. Sync and work on your Logic Pro projects with anyone around the world. 10x faster than Dropbox.">
	<meta name="keywords" content="Mixim,music,collaboration,software,DropBox,Logic Pro,Apple,Sync,Mac">
	<meta property="og:url" content="https://getmixim.com" />

	<meta property="og:description" content="Mixim is a software tool for remote musical collaboration. Sync and work on your Logic Pro projects with anyone around the world. 10x faster than Dropbox.">
	<meta property="og:image" content="https://getmixim.com/images/facebookimage.jpg" />
	<meta property="og:title" content="Mixim - the fastest way in the world to make music remotely" />
	<meta property="og:type" content="website" />
	<meta property="fb:admins" content="698573897" />
	<meta property="fb:admins" content="1612200019" /> 
	<meta property="fb:admins" content="655346658" /> 
	
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@getmixim"/>
	<meta name="twitter:description" content="Mixim is a software tool for remote musical collaboration. Sync and work on your Logic Pro projects with anyone around the world. 10x faster than Dropbox."/>	
	<meta name="twitter:image" content="https://getmixim.com/images/twitterimage.jpg"/>
	<meta name="twitter:title" content="Mixim - the fastest way in the world to make music remotely"/>
	<meta name="twitter:url" content="https://getmixim.com"/>
	<meta name="twitter:image:width" content="1144">
	<meta name="twitter:image:height" content="600">
	<!--END SEO-->

	<script type="text/javascript">
	if( navigator.userAgent.match(/iPad/i) != null ){
		viewport = document.querySelector("meta[name=viewport]");
		viewport.setAttribute('content', 'width=1060, user-scalable=0');
	}
	</script>
	
	<meta name="format-detection" content="telephone=no">

	{% include analytics.inc.html %}
</head>

<body>

{% include header.inc.html %}

<!--START LEAD IMAGE CONTENT-->
<div class="lead-image-wrap" style="background-image:url('images/lead-image.jpg');">
	<div class="lead-image-content-wrap">
		
		<div class="lead-image-content">

			<!--Start Lead Image Logo-->
			{% include lead-image-logo.svg %}
			<!--End Lead Image Logo-->
			
			<!--Start Lead Image Text-->
			<div class="lead-image-text not-mobile">
				Mixim is the fastest way in the world</br>
				to make music remotely.
			</div>
			<div class="lead-image-text mobile">
				The fastest way in the world</br>
				to make music remotely.
			</div>
			<!--End Lead Image Text-->
			
			<!--Start Lead Image Download-->
			<div class="lead-image-download-text not-mobile">
				Mixim Beta now open!
			</div>
			<a href="https://app.getmixim.com/signup/0RpblZQ64oKQXAqj">
				<div class="lead-image-download-button not-mobile">
					Get Mixim now
				</div>
			</a>
			<div class="lead-image-download-text mobile">
				Mixim Beta now open!
			</div>
			<a href="https://app.getmixim.com/signup/0RpblZQ64oKQXAqj">
				<div class="lead-image-download-button mobile">
					Get Mixim now
				</div>
			</a>
			<!--End Lead Image Download-->

		</div>
		
	</div>
</div>
<!--END LEAD IMAGE CONTENT-->

<!--START HOMEPAGE TEXT CONTENT-->
<div class="homepage-text-wrap">
	<div class="homepage-text-content">
		
		<h1>Make music anywhere.</h1>
		<p>Mixim is a software tool for remote collaboration between musicians, producers and sound engineers. 
			We sync your Logic Pro projects with people you want to make music with.</p>

		<p>Mixim allows you to make music in ways you never could. It’s integrated with the tools you already use - 
			Logic Pro and the Mac, and it’s blazing fast so you can work on ideas together straight away.</p>
		
	</div>
</div>
<!--END HOMEPAGE TEXT CONTENT-->
	
<!--START INFOGRAPHIC CONTENT-->
<div id="one-place" class="infographic-section" style="background-color: #ffffff;">
	<div class="info-top-bar-wrap">
		<div class="inner-content"><div class="dot"></div></div>
	</div>
	<div class="inner-content">
				
		<!--Start One Place Image-->
		{% include one-place.inc.html %}
		<!--End One Place Image-->
		
		<div class="info-text-wrap left red out-of-view out-left">
			<div class="info-text">
				<div class="title">Everything in one place</div>
				<div class="subtitle">One-click access to all your projects and who you’re working with.</div>
			</div>
		</div>
		
	</div>
</div>
<!--END INFOGRAPHIC CONTENT-->	

<!--START INFOGRAPHIC CONTENT-->
<div id="upto-date" class="infographic-section" style="background-color: #f2f2f2;">
	<div class="inner-content">
		
		<!--Start Upto Date Image-->
		{% include upto-date.inc.html %}
		<!--End Upto Date Image-->
		
		<div class="info-text-wrap right">
			<div class="info-text">
				<div class="title">Always up to date</div>
				<div class="subtitle">Mixim automatically syncs your projects  so you don’t have to think about it.</div>
			</div>
		</div>
		
	</div>
</div>
<!--END INFOGRAPHIC CONTENT-->	

<!--START INFOGRAPHIC CONTENT-->
<div id="fast" class="infographic-section" style="background-color: #ffffff;">

	{% include fast.inc.html %}
	
	<div class="inner-content">
		
		<div class="info-text-wrap left">
			<div class="info-text">
				<div class="title">Fast</div>
			<div class="subtitle">Mixim is the fastest way to collaborate on music - we’re <b>10x faster than Dropbox</b>!</div>
			</div>
		</div>
	
	</div>
		
</div>
<!--END INFOGRAPHIC CONTENT-->	

<!--START IMAGE SECTION CONTENT-->
<div class="image-section-wrap" style="background-image:url('images/image-section-01.jpg');">

	<div class="homepage-text-content out-of-view fade">
		
		<h1 class="out-of-view fade">Stay creative.</h1>
		<h2 class="out-of-view fade">Mixim lets you work together, wherever you are.</h2>
		
	</div>
	
</div>
<!--END IMAGE SECTION CONTENT-->

<!--START HOMEPAGE TEXT CONTENT-->
<div class="homepage-text-wrap auto-height">
		
	<h1>Two quality modes for speed and perfect audio.</h1>
	
	<div class="quality-mode-image-wrap">
		{% include quality-mode.svg %}
	</div>
	
	<div class="quality-column-wrap">
		<div class="quality-column">
			<div class="quality-image">
				{% include speed-mode.svg %}
			</div>
			<p><strong>Speed mode</strong></br>
			Your projects start in speed mode.</p>

			<p style="text-align: left;">Speed mode transfers projects 10X faster than sending a normal file. 
				We use the same compression format as iTunes to deliver fast collaboration 
				when you need it most, at the start of the process.</p>
		</div>
		
		<div class="quality-column">
			<div class="quality-image">
				{% include lossless-mode.svg %}
			</div>
			<p><strong>Lossless mode</strong></br>
			Want a full-res bounce of your masterpiece? Switch to Lossless.</p>

			<p style="text-align: left;">Lossless mode syncs projects with full quality audio, while still being 
				2X faster than Dropbox. This is perfect for all you audio quality junkies out there!</p>
		</div>
	</div>
		
</div>
<!--END HOMEPAGE TEXT CONTENT-->
		
<!--START SLIDESHOW CONTENT-->
<div class="homepage-slideshow-wrap">
	<div class="homepage-slideshow" data-cycle-slides=".homepage-slideshow-slide" data-cycle-swipe="true" data-cycle-manual-fx="scrollHorz" data-cycle-swipe-fx="scrollHorz" data-cycle-timeout="12000" data-cycle-speed="700">
		
		<div class="homepage-slideshow-slide left">
			<div class="background" style="background-image: url('images/slideshow-01.jpg');"></div>
			<div class="slideshow-text-content-wrap">
				<h3>“Mixim lets us work naturally and </br>stay creative; in the studio, at home </br>or on tour.”</h3>
				<p>XY&O</br>
					<em>Multi-million streamed breakthrough artist</em></p>
			</div>
		</div>
		
		<div class="homepage-slideshow-slide left">
			<div class="background" style="background-image: url('images/slideshow-02.jpg');"></div>
			<div class="slideshow-text-content-wrap">
				<h3>“We’re really excited about how our artists can use Mixim to work with anyone around the world, faster than ever before.”</h3>
				<p>Ministry of Sound</br>
					<em>Global independent record label</em></p>
			</div>
		</div>
		
		<div class="homepage-slideshow-slide full">
			<div class="background" style="background-image: url('images/slideshow-03.jpg');"></div>
			<div class="slideshow-text-content-wrap">
				<h3>“Our students can now collaborate and develop their skills wherever they are.”</h3>
				<p>PointBlank Music School</br>
					<em>International music production college</em></p>
			</div>
		</div>
		
	</div>
	
	<div id="left" class="slideshow-nav"></div>
	<div id="right" class="slideshow-nav"></div>
	
</div>
<!--END SLIDESHOW CONTENT-->

<!--START HOMEPAGE TEAM CONTENT-->
<div class="homepage-text-wrap auto-height team">
	<div class="inner-content">
		
		<h1>The Mixim team</h1>
		<p>Mixim is a clever little product </br>built by these chaps</p>
	
		<div class="team-section-wrap">
			
			<div class="team-member">
				<div class="team-member-photo-wrap">
					<div class="team-member-photo" style="background-image:url('images/mugs/joe.jpg');"></div>
				</div>
				<div class="team-member-text">
					<div class="title">Joe Rickerby</div>
					<div class="subtitle">Founder &amp; Developer</div>
				</div>
				<a href="https://twitter.com/joerick" target="_blank">
					<div class="team-member-twitter">
						{% include twitter-logo.svg %}
					</div>
				</a>
			</div>
			
			<div class="team-member">
				<div class="team-member-photo-wrap">
					<div class="team-member-photo" style="background-image:url('images/mugs/ben.jpg'); background-position: 50% 41%;"></div>
				</div>
				<div class="team-member-text">
					<div class="title">Ben Pawle</div>
					<div class="subtitle">Founder &amp; Designer</div>
				</div>
				<a href="https://twitter.com/benpawle" target="_blank">
					<div class="team-member-twitter">
						{% include twitter-logo.svg %}
					</div>
				</a>
			</div>
			
			<div class="team-member">
				<div class="team-member-photo-wrap">
					<div class="team-member-photo" style="background-image:url('images/mugs/alex.jpg'); background-position: 45% 40%;"></div>
				</div>
				<div class="team-member-text">
					<div class="title">Alex Latham</div>
					<div class="subtitle">Engagement</div>
				</div>
				<a href="https://twitter.com/actlatham" target="_blank">
					<div class="team-member-twitter">
						{% include twitter-logo.svg %}
					</div>
				</a>
			</div>
			
			<div class="team-member">
				<div class="team-member-photo-wrap">
					<div class="team-member-photo" style="background-image:url('images/mugs/mike.jpg');"></div>
				</div>
				<div class="team-member-text">
					<div class="title">Mike Leach</div>
					<div class="subtitle">Developer</div>
				</div>
				<a href="https://twitter.com/mike_leach84" target="_blank">
					<div class="team-member-twitter">
						{% include twitter-logo.svg %}
					</div>
				</a>
			</div>
			
		</div>

	</div>
</div>
<!--END HOMEPAGE TEAM CONTENT-->
		
{% include footer.inc.html %}

</body>
</html>
