<div class="ship-scene">
	<div class="inner-content">
	    <div class="ship">
	        <img src="/images/ship.png" width=97>
	        <div class="flame">
	            <img src="/images/flame.png" width=37>
	        </div>
	    </div>
	</div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>

<script>
    $(window).load(function(){
        function wobble(el, period, xMag, yMag, rotateMag) {
          var tick = function () {
            var x = (Math.random()-0.5) * xMag;
            var y = (Math.random()-0.5) * yMag;
            var rotate = (Math.random()-0.5) * rotateMag;
            
            el.style.transform = 'translate('+x+'px,'+y+'px) rotate('+rotate+'deg)';
          }
          setInterval(tick, period);
        }
        
        wobble($('.ship')[0], 50, 1.5, 1.2, 0);
        wobble($('.flame')[0], 50, 3, 4, 3);
        
        $('.star').each(function (index) {
          var r = (Math.sin(index)*23682.23) % 1.0;
          var x = (r * 1225) % 100;
          var z = (r * 132.4) % 0.9 + 1.5;
          var star = this;
          
          star.style.height = z*z*30+'px';
          star.style.left = x+"%";
          // star.style.opacity = 1.2-z/5;
          setInterval(function () {
            var clock = new Date().getTime()/1000.0;
            var yUnclipped = r*12000 + clock*z*z*160;
            var y = yUnclipped % 400 - 25;
            var x = (Math.floor(yUnclipped / 400) * 12341) % 100;
            
            star.style.top = y+"%";
            star.style.left = x+"%";
        
          }, 1000/30)
        });
    });
</script>

<style>
    .ship-scene {
        position: absolute;
        width: 100%; height: 400px;
        top: 0; right: 0;
        overflow: hidden;
    }

    @media only screen and (max-width: 780px) {
    .ship-scene {
        position: relative;
        width: 100%; height: 350px;
    }
    }

    .ship {
        position: absolute;
        width: 330px; height: 250px;
        top: 50%; margin-top: -125px;
        right: 0;
        text-align: center;
    }

    @media only screen and (max-width: 780px) {
    .ship {
        position: relative;
        margin: 0 auto;
        top: inherit; margin-top: 60px;
    }
    }

    .ship img {
        z-index: 5;
    }

    .flame {
        position: absolute;
        top: 160px; left: 50%;
        width: 38px;
        margin-left: -19px;
        z-index: -1;
    }

    .star {
        position: absolute;
        height: 70px; width: 4px;
        border-radius: 3px;
        background-color: #f2f2f2;
        z-index: 1;
    }

    @media only screen and (max-width: 780px) {
    .star {
        background-color: #ffffff;
    }
    }
</style>
