<!--START FOOTER NEWSLETTER CONTENT-->
<div class="footer-newsletter-wrap">

	{% include dancing-dots.inc.html color="#cccccc" %}

</div>
<!--END FOOTER NEWSLETTER CONTENT-->

<!--START BOTTOM FOOTER  CONTENT-->
<div class="bottom-footer-wrap">

	<div class="footer-icons">
		<a class="footer-icon link" href="https://twitter.com/getmixim" target="_blank">
			{% include footer-twitter.svg %}
		</a>
		<div class="footer-icon">
			{% include footer-logo.svg %}
		</div>
		<a class="footer-icon link" href="https://angel.co/mixim" target="_blank">
			{% include footer-angel.svg %}
		</a>
	</div>
	
	<h5><a href="mailto:hello@getmixim.com">hello@getmixim.com</a></h5>
	
	<h6>© 2016-2020 Mixim Technology Ltd</h6>

</div>
<!--END BOTTOM FOOTER  CONTENT-->
